/* Common Classes */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Istok Web', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

p:not(#banner_text > p){
    color: #878787;
}
/* /Common Classes */

/* Utility Classes */
.mg-tb_20{
    margin: 20px 0 20px 0;
}

.br_10{
    border-radius: 10px;
}

.layover{
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;  
}

/* Container Classes */
.container{
    width: 1000px;
    margin: auto;
}

#site_header{
    height: 50px;
}

#logo_image{
    height: 100%;
}

li{
    list-style-type: none;
    display: inline-block;
}

li > a{
   text-transform: uppercase;
   text-decoration: none;
   color: #878787;
   margin-right: 10px;
}

#foto{
    height: 400px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position-y: center;
    color: white;
}

#banner_text{
    width: 55%;
    padding: 250px 0 0 50px;
}

/* Topic Classes */

.topic_container aside, #main_topic{
    width: 20%;
    float: left;
}

.topic_foto{
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#main_topic{
    width: 60%;
    padding: 0 20px 0 20px;
}

#leftside_foto{
    background-image: url(../img/img-1.jpg);
}

#mainside_foto{
    background-image: url(../img/banner-2.jpg);
}

#rightside_foto{
    background-image: url(../img/img-3.jpg);
    background-size: 130%;
}

section > h4{
    margin: 1rem 0 0.5rem 0;
}
/* /Topic Classes */

#site_footer{
text-align: center;
}

#site_footer > h4::after{
    content: "\2665";
    color: red;
    font-size: 1.5rem;
}
