/* Common Classes */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Istok Web', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* /Common Classes */

/* Utility Classes */
.mg-tb_20{
    margin: 20px 0 20px 0;
}

.br_10{
    border-radius: 10px;
}

.layover{
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;  
}

/* Container Classes */
.container{
    width: 1000px;
    margin: auto;
}

#site_header{
    height: 50px;
}

#logo_image{
    height: 100%;
}

li{
    list-style-type: none;
    display: inline-block;
}

li > a{
   text-transform: uppercase;
   text-decoration: none;
   color: #878787;
   margin-right: 10px;
}

#foto{
    height: 400px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position-y: center;
    color: white;
}

#banner_text{
    width: 55%;
    padding: 250px 0 0 50px;
}

/* Topic Classes */
#topic{
    height: 50px;
    background-color: darkorange;
}

.topic_container{
    width: 100%;
}

.topic_container aside{
    width: 20%;
    height: 400px;
    float: left;
}

#left_sidebar{
    background-color: violet;
}

#right_sidebar{
    background-color: seagreen;
}

#main_topic{
    width: 60%;
    height: 400px;
    float: left;
    background-color: salmon;
}

/* /Topic Classes */

#site_footer{
    height: 50px;
    background-color: aqua;
}
